DATABASE_URL="postgresql://usuario:password@host/streamsync?sslmode=require"
NEXTAUTH_URL="https://streamsync-livid.vercel.app"
AUTH_SECRET="tu_nextauth_secret_generado"
TWITCH_CLIENT_ID="tu_twitch_client_id"
TWITCH_CLIENT_SECRET="tu_twitch_client_secret"
